<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Authors", authors_url %>
    </li>
    <li class="nav-item">
      <%= link_to "Books", books_url %>
    </li>
  </ul>
</div>
