<% @authors.each do |author| %>
<div class="row rows">
  <div class="col-md-6">
    <p><%= author.firstName %> <%= author.lastName %></p>
  </div>
  <div class="col-md-6 ">
      <%= link_to 'edit', edit_author_path(author) %>
      <%= link_to 'view', author_path(author) %>
  </div>
</div>

<% end %>
