// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input{
  display: block;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
.individualBook{
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;

}
