// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input{
  display: block;
}
@keyframes slide {
  from {left: -1000px;}
  to{left:0px;}
}
.books{
  animation: slide 1s ease-in-out;
}
